<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://qph.fs.quoracdn.net/main-qimg-22b767fe71d966ab81406f6d6fcf630b">

  <div class="container">
    <div class="row">
      <h2>Search For Stocks</h2>
             <div id="custom-search-input col-md-12">
                <div class="col-md-4"></div>
                  <div class="input-group col-md-4">
                      <input type="text" class=" search-query form-control" placeholder="Search" />
                      <span class="input-group-btn">
                          <button (click)="buttonClick()" class="btn btn-danger" type="button">
                              <span class=" glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
                  <div class="adminLink">
                    <a href="#" class="forgotPassLink">Forgot Password</a>
                    <a href="#"class="signInLink">Sign In</a>
                  </div>
                <div class="col-md-4"></div>
            </div>
    </div>
  </div>

